@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primario: #274060;
    --secundario: #335C81;
    --claro1: #65AFFF;
    --claro2: #5899E2;

}

/* .body{
    margin-left: 5rem;
    margin-right: 5rem ;
} */
.inicio {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-top: .6rem;
}

.busqueda {
    display: flex;
    justify-content: center;
    background-color: var(--primario);
    padding: .6rem;

}

.busqueda input {
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 40%;
    color: #1B2845;
}

.busqueda input:focus {
    outline: none;
}

/* menu  de la izquierda por augusto */
#btn-menu {
    display: none;
}

.container-menu {
    z-index: 1000;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: var(--primario);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: rgb(44, 44, 44);
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}


/* fin del menu */
.busqueda button {
    border: none none none .15rem solid var(--primario);
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    background-image: url('../medias/lupa.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
}

.logo-itbank {
    width: 15rem;
}

.btn-menu {
    background-color: var(--secundario);
    background-image: url('../medias/bx-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border: none;
    border-radius: 50px;
    padding: 0.2rem 1.5rem;
    color: white;
    margin-left: 1rem;
    /* font-weight: 600; */
    transition: background-color ease-out .2s;
    /* box-shadow: .1rem .2rem .2rem rgb(34, 34, 34,.4); */
}

.btn-menu:hover {
    background-color: var(--claro1);
    cursor: pointer;
    /* color: var(--primario); */
}

.btn-perfil {
    /* background-color: var(--secundario); */
    background-image: url('../medias/user.svg');
    background-position: center;
    background-size: cover;
    width: 2.5rem;
    background-color: white;
    border: none;
    margin-right: 1rem;
}

.carousel-control {
    width: 365px;
}

.parte-tarjetas {
    height: 25rem;
    position: relative;
    background-image: url("../medias/image 9.jpg");
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.box-tarjeta {
    display: flex;
    margin-left: 2rem;
    height: 230px;
    width: 330px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10%;
}

.tarjeta {
    /* border-left: 3rem; */
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "Roboto", Helvetica, sans-serif;
}

.colors {
    color: #335C81;
    color: #274060;
    color: #65AFFF;
    color: #1B2845;
    color: #5899E2;
}

.iconos {
    display: flex;
    justify-content: center;
}

.contenedor {
    display: flex;
    background-image: url('../medias/image 9.jpg');
    background-position: inherit;
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", Helvetica, sans-serif;
    /* width: 60px; */
}

/* .box-botones{
    
    width: 800px;
    height: 150px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 5px;
    box-shadow: -3px 3px 11px #74819d;
    text-align: center;
} */

.btn-transferencia {
    background-image: url('../medias/Group 2.svg');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    border: none;
    background-position: center;
    background-color: white;
}

.btn-resumen {
    background-image: url('../medias/Group 3.svg');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    border: none;
    background-position: center;
    background-color: white;
}

.btn-pago-serivicios {
    background-image: url('../medias/Group 28.svg');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    border: none;
    background-position: center;
    background-color: white;
}

.btn-prestamos {
    background-image: url('../medias/Group 29.svg');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    border: none;
    background-position: center;
    background-color: white;
}




/* .card-img-top {
    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;
} */

.btn-itba,
.btn-itba:hover,
.btn-itba:active,
.btn-itba:visited,
.btn-itba:focus {
    background-color: #335C81 !important;
    border-color: #335C81 !important;
    color: white !important;
}

footer {
    height: 10%;
    background-color: var(--primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: inherit;
    bottom: 0;
}

.social-media {
    width: 20%;
    height: 40%;
    font-size: 28px;
    color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;

}

.logo-footer {
    width: 6rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

.nosotros {
    color: var(--primario);
}

.grupo {
    font-size: 20px;
    color: #335C81;
    font-family: "Roboto", Helvetica, sans-serif;
}

.copyright {
    font-size: 15px;
    color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
}

.btn-qr {
    background-image: url('../medias/Group 25.svg');
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
    border: none;
    background-position: center;
    background-color: white;
}

.ull {
    list-style-type: ">";
    color: white
}

@media (max-width: 600px) {
    .social-media {
        width: 40%;
    }
}


h2{
    background-color: rgba(56, 96, 125, 0.8)
}
.respon {
    display: flex;  
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px){
    .social-media {
        width: 20%;
    }
}