

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://kit.fontawesome.com/72286fea37.js" crossorigin="anonymous"></script>
    <title>ITBANK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block scripts %}
    {% endblock scripts %}

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <header class="header">
        <a href="{% url 'home' %}">
            <div class="inicio d-flex w-100">
                <label for="btn-menu" class="btn-menu d-flex align-items-center"></label>
                <img src="{% static 'medias/LogoItbank.jpeg' %}" alt="" class="logo-itbank" id="inicio">
                {% if request.user.username %}
                    <p class="align-self-flex-end">{{request.user.username}}</p>
                {% endif %}
                <button class="btn-perfil"></button>
                <!-- <a class="btn-perfil" href="{% url 'logout' %}"><button class="btn-perfil"></button></a> -->
            </div>
        </a>
        <nav class="busqueda d-flex align-items-stretch">
            <input type="text" placeholder="Qué estás buscando?">
            <button></button>
        </nav>
    </header>
        <!-- menu -->
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <ul>
                        <li class="ull"><a href="#">Mi cuenta</a></li>
                        <li class="ull"><a href="#">Mis tarjetas</a></li>
                        <li class="ull"><a href="#">Atención al cliente</a></li>
                        <li class="ull"><a href="#">Acerca de nosotros</a></li>
                        {% if not request.user.is_authenticated %}
                        <li class="ull"><a href="{% url 'login' %}">Acceder</a></li>
                        <li class="ull"><a href="{% url 'register' %}">Registrarse</a></li>
                        {% else %}
                        <li class="ull"><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
        <!-- menu fin -->
    {% block content %}
    {% endblock %}
    

    <footer class="w-100">
        <div class="social-media">
            <a href="https://twitter.com/Itbankk1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/Banco-Itbank-107868418601548" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/itbankk/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <img src="{% static 'medias/LogoItbank.png' %}" class="logo-footer" alt="LogoItbank" id="Inicio">
        <a href="quienes-somos.html" class="Nosotros" target="_blank" alt="QuienesSomos">Quiénes Somos</a>
        <p class="copyright text-center"> Copyright 2022-2022 ITBANK©️. Todos los derechos reservados. Prohibida la duplicación,
            distribución o almacenamiento en cualquier medio.</p>
    </footer>
</body>
</html>
